@{
    @* List<Object> menuItems = new List<Object>();
menuItems.Add(
new{
text = "Journal",
url = "api/JournalEntry/Index",
iconCss = "fa-solid fa-folder-closed"
}
);
menuItems.Add(
new{
text = "Notes",
url = "api/Notes/Index",
iconCss = "fa-solid fa-folder-closed"
}
);
menuItems.Add(
new{
text = "Mood Tracker",
url = "api/MoodRating/Dashboard",
iconCss = "fa-solid fa-folder-closed"
}
); *@

}
<ejs-sidebar id="sidebar" width="250px">
    <e-content-template>
            <div>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="JournalEntry"
                            asp-action="Index">Journal Entries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Notes" asp-action="Index">Notes</a>
                    </li>
                </ul>
            </div>
    </e-content-template>
</ejs-sidebar>