<div id="resources-page">
    <section>
        <div>

        </div>
    </section>
    <section>
        <div>

        </div>
    </section>
    <div>
        <h1 class="fade-in-text">Care Connection</h1>
        <p>
            Your little hub for mental health resources and helplines.
        </p>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card" id="pieta-card">
                <div class="card-body">
                    <h3 class="card-title">Pieta</h3>
                    <p class="card-text">Pieta has been a beacon of support for individuals in suicidal distress or
                        engaging in self-harm, having
                        assisted tens of thousands of people since its establishment in 2006. Operating free of charge
                        with fully
                        qualified staff, Pieta offers a free professional one-to-one, in-person, phone or video
                        therapeutic
                        counselling and 24-hour phone and text crisis prevention services to those who are in suicidal
                        crisis.</p>
                    <a class="card-link" href="https://www.pieta.ie/">Visit their website</a>
                    <hr />
                    <p>Text HELP to 51444</p>
                    <a href="tel:1800247247">Free 24/7 Crisis helpline:
                        1800 247 247</a>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" id="jigsaw-card">
                <div class="card-body">
                    <h3 class="card-title">Jigsaw</h3>
                    <hr/>
                    <p class="card-text">This charity is dedicated to supporting young people aged 12 to 25 through both
                        online platforms and services
                        across the country. Their focus extends beyond direct assistance to the young individuals; they
                        provide
                        guidance and support to families, educators, and those involved in the well-being of young
                        people. By
                        offering coping mechanisms and essential skills, this charity empowers individuals and
                        communities to be
                        there for the youth. Through their collective power, knowledge, and expertise, they actively
                        advocate for
                        making youth mental health a priority at both national and local levels.
                        </p>
                        <hr/>
                        <a class="card-link" href="https://jigsaw.ie/">Visit their website</a>
                </div>
            </div>
        </div>
    </div>
</div>