<div class="container-fluid">
    <section>
        <div>
            
        </div>
    </section>
    <section>
        <div>

        </div>
    </section>
    <div>
        <h1>More Resources</h1>
    </div>
    <div class="row">
        <p>
            Pieta has been a beacon of support for individuals in suicidal distress or engaging in self-harm, having
            assisted tens of thousands of people since its establishment in 2006. Operating free of charge with fully
            qualified staff, Pieta offers a free professional one-to-one, in-person, phone or video therapeutic
            counselling and 24-hour phone and text crisis prevention services to those who are in suicidal crisis.
        </p>
        <p>Free 24/7 Crisis helpline:
            1800 247 247</p>
        <p>Text HELP to 51444</p>
        <a href="https://www.pieta.ie/">Website</a>
    </div>
    <div class="row">
        <p>This charity is dedicated to supporting young people aged 12 to 25 through both online platforms and services
            across the country. Their focus extends beyond direct assistance to the young individuals; they provide
            guidance and support to families, educators, and those involved in the well-being of young people. By
            offering coping mechanisms and essential skills, this charity empowers individuals and communities to be
            there for the youth. Through their collective power, knowledge, and expertise, they actively advocate for
            making youth mental health a priority at both national and local levels.</p>
    </div>
</div>