@using Microsoft.AspNetCore.Identity
@* @using Syncfusion.EJ2.Inputs *@

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model MoodRating

@{
    ViewData["Title"] = "Home Page";
}


<section id="landing-section">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Hi @UserManager.GetUserName(User)</h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2>How are you feeling today?</h2>
        <p>On a scale of 1 to 10, with 1 being not great and 10 being fantastic, rate your mood:</p>

       @* Add emoji or slider rating here. But normal input for now...*@

       <form method="POST" asp-action="Create">
            <div class="col-lg-3">
                <input asp-for="Rating" class="form-control" />
            </div>
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Add</button>
            </div>
        </form>
        <p>Select words that resonate with your current emotions</p>

        @* Add selection tags here*@

        <p>Your emotions are unique, just like you. Take a moment to reflect.</p>
        <p>Feel the need to express more? Turn your emotions into words. Start journaling now and embrace the therapeutic power of self-reflection.</p>

    </div>
</section>

