@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model MoodRating

@{
    ViewData["Title"] = "Home Page";
}
<section class="d-inline-flex align-items-center justify-content-center parallax" id="landing-section">
    <div class="w3-animate-fading">
        <h1 class="display-4">Hi @UserManager.GetUserName(User)</h1>
    </div>
</section>
<section class="d-inline-flex align-items-center justify-content-center parallax" id="h-second-section">
    <div class="w3-animate-fading">
        <h2>How are you feeling today?</h2>
        <a asp-controller="MoodRating" asp-action="Index">
            Let's check in with ourselves
            <i class="bi bi-chevron-double-right"></i>
        </a>
    </div>
</section>
