@model Notes
@{
    ViewData["Title"] = "Notes";
}
<div class="notes-page">
    <div class="row align-items-center">
        <p>@Model.Note</p>
    </div>
    <div class="row align-items-center">
        <p>@Model.Exercises</p>
    </div>
</div>