@model Notes
@{
    ViewData["Title"] = "Notes";
}
<div class="container">
    <div class="row align-items-center">
        <div class="col-6">
            <p>@Model.Note</p>
        </div>
        <div class="col-6">
            <p>@Model.Exercises</p>
        </div>
    </div>
</div>