@model Notes
@{
    ViewData["Title"] = "Notes";
}
<section class="d-inline-flex align-items-center notes-page breadcrumb-section">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Notes" asp-action="Index">Notes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Note</li>
            </ol>
        </nav>
    </section>
</section>
<section class="n-content-section px-2 py-2">
    <div class="row">
        <p>@Model.Title</p>
    </div>
    <div class="row align-items-center">
        <p>@Model.Note</p>
    </div>
    <div class="row align-items-center">
        <p>@Model.Exercises</p>
    </div>
    <a class="card-link" asp-controller="Notes" asp-action="Share">
        <i class="bi bi-plus-circle me-2"></i>Share note
    </a>
</section>