@model Notes;

<section id="">
    <form method="POST" id="createForm" asp-action="Create">
        <div asp-validation-summary="All"></div>
        <div class="container">
            <div class="text-justify">
                <h1>Notes</h1>
            </div>
            <div class="row justify-content-start my-3">
                <div class="col-lg-6">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" id="" />
                </div>
            </div>
            <div class="row justify-content-start my-3">
                <div class="col-lg-6">
                    <label asp-for="Note" class="form-label">Notes</label>
                    <input asp-for="Note" class="form-control" id="" placeholder="" style="min-height: 150px;"/>
                </div>
            </div>
            <div class="row justify-content-start my-3">
                <div class="col-lg-6">
                    <label asp-for="Exercises" class="form-label">Exercise</label>
                    <input asp-for="Exercises" class="form-control" id="" placeholder="" style="min-height: 150px;"/>
                </div>
            </div>
            <div class="row pt-2">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Add</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Notes" asp-action="Index" class="btn btn-outline-primary border  form-control">
                    Back to main
                </a>
            </div>
        </div>
    </form>
</section>