@model Notes;

<section class="n-ced-section">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Notes" asp-action="Index">Notes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add a note</li>
            </ol>
        </nav>
    </div>
    <div class="n-forms">
        <form method="POST" asp-action="Create">
            <div asp-validation-summary="All"></div>
            <div class="row align-items-center">
                <label asp-for="Title" class="form-label py-1 n-label">Title</label>
                <input asp-for="Title" class="form-control py-1 n-input" />
            </div>
            <div class="row align-items-center">
                <label asp-for="Note" class="form-label py-1 n-label" class>Notes</label>
                <input type="text" asp-for="Note" class="form-control py-1 n-input" placeholder=""
                    style="min-height: 150px;" />
            </div>
            <div class="row align-items-center">
                <label asp-for="Exercises" class="form-label py-1 n-label" class>Exercise</label>
                <input type="text" asp-for="Exercises" class="form-control py-1 n-input" placeholder=""
                    style="min-height: 150px;" />
            </div>
            <div class="row">
                <button type="submit" class="btn n-form-btn">Add</button>
            </div>
        </form>
    </div>
</section>
