@model Notes;

<form method="post" id="createEditForm" asp-action="PostEdit" asp-route-id="@Model.NoteID">
    <input type="hidden" asp-for="NoteID"/>
    <div class="border p-3">
        <div asp-validation-summary="All"></div>
        <div class="form-floating py-2">
            <input asp-for="Title" class="form-control border-0 shadow" />
            <label asp-for="Title" class="ms-2">Edit Title</label>

        </div>
        <div class="form-floating py-2 col-12">
            <textarea asp-for="Note" class="form-control border-0 shadow"></textarea>
            <label asp-for="Note" class="ms-2">Edit Note</label>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="Exercises" class="form-control border-0 shadow" />
            <label asp-for="Exercises" class="ms-2">Edit Exercises</label>
        </div>
        <div class="row pt-2">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border  form-control">
                    Back to homepage
                </a>
            </div>
</form>