@* @model Notes;

<form method="POST" asp-action="SharePost">
    <label asp-for="RecipientEmail">Recipient Email</label>
    <input asp-for="RecipientEmail" type="email" />
    <button type="submit">Share via Email</button>
</form> *@