@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');



h1{
  font-size: 72px;
}
h2{
  font-size: 50px;
  font-weight: 300;
  }
  a:link {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  a:active {
    text-decoration: none;
    color: inherit;
  }

  

/*HOME*/
#landing-section{
  width: 100%;
  height: 700px;
  background-image: radial-gradient(circle at 94.35384114583333% 89.61588541666666%, #D2E4C7 0%, 20%, rgba(210,228,199,0) 40%), radial-gradient(circle at 6.503906249999999% 88.037109375%, rgba(26,106,255,0.99) 0%, 25%, rgba(26,106,255,0) 50%), radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #7E60DF 0%, 24%, rgba(126,96,223,0) 40%), radial-gradient(circle at 93.6865234375% 11.42578125%, #A9806F 0%, 42%, rgba(169,128,111,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
}
#h-second-section{
  width: 100%;
  height: 700px;
  background-image: radial-gradient(circle at 94.35384114583333% 89.61588541666666%, #D2E4C7 0%, 20%, rgba(210,228,199,0) 40%), radial-gradient(circle at 6.503906249999999% 88.037109375%, rgba(26,106,255,0.99) 0%, 25%, rgba(26,106,255,0) 50%), radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #7E60DF 0%, 24%, rgba(126,96,223,0) 40%), radial-gradient(circle at 93.6865234375% 11.42578125%, #A9806F 0%, 42%, rgba(169,128,111,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
}

/* Journal Entry Views */
#je-i-first-section{
  height: 125px;
  width: 100%;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 100%);
  color: #ffffff;
}
#je-btn-section{
  height: 65px;
  padding: 1%;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 100%);
}
#je-new-entry-btn{
  width: 200px;
  border: 1px solid #ffffff;
  border-radius: 300px;
}
#je-i-table-section{
  height: 500px;
  padding: 1%;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 60%);
}
#je-th{
  background-color: #D2E4C7; 
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}
#je-tbody{
  background-color: #F6F6F6;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}
.je-ced-views{
  height: 100%;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 73.6083984375%);
}
.je-ced-section{
  width: 100%;
  height: auto;
  min-height: 500px;
  padding: 1%;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 100%);
}
.je-forms{
  width: 80%;
  margin: auto;
  padding: 2%;
  border: 1px solid #ffffff;
}
#je-label{
  font-weight: 100;
  font-size: 18px;
  color: #000000;
}
#je-input{
  font-weight: 100;
  font-size: 18px;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 60%);
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.jn-create-btn{
  width: 200px;
  border: 1px solid #ffffff;
  font-weight: 300;
}
.je-ed-title{
width: 100%;
height: 125px;
font-weight: 400;
color: #ffffff;
}

/* Notes Views */
.notes-page{
  height: 100%;
  background-image: radial-gradient(circle at 94.35384114583333% 89.61588541666666%, #D2E4C7 0%, 20%, rgba(210,228,199,0) 40%), radial-gradient(circle at 3.4928385416666665% 96.09700520833333%, rgba(26,106,255,0.99) 0%, 25%, rgba(26,106,255,0) 50%), radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #92B079 0%, 42%, rgba(146,176,121,0) 70%), radial-gradient(circle at 93.6865234375% 11.42578125%, #A9806F 0%, 42%, rgba(169,128,111,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
}

#n-i-first-section{
  height: 125px;
  width: 100%;
  color: #ffffff;
}
#n-btn-section{
  height: 65px;
  padding: 1%;
}
#n-i-cards{
  height: auto;
  min-height: 500px;
  padding: 2%;
}
.n-ced-section{
  background-image: linear-gradient(90deg, #95B9FF 0%, #F3F8F0 100%);

}
.n-forms{
  width: 80%;
  margin: auto;
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.n-label{
  font-weight: 100;
  font-size: 18px;
  color: #000000;
}
.n-input{
  font-weight: 100;
  font-size: 18px;
  border: 1px solid #F6F6F6;
  border-radius: 0;
}
.n-form-btn{
  width: 200px;
  border: 1px solid #ffffff;
  font-weight: 300;
}

/* Mood Tracker Views*/
.mood-page{
  background-image: radial-gradient(circle at 82.56998697916667% 11.536458333333334%, #95B9FF 0%, 16.625%, rgba(149,185,255,0) 35%), radial-gradient(circle at 82.17447916666667% 74.189453125%, #FFBFA1 0%, 30.875%, rgba(255,191,161,0) 65%), radial-gradient(circle at 52.86132812499999% 25.478515624999996%, #F6E6FF 0%, 41.1%, rgba(246,230,255,0) 60%), radial-gradient(circle at 38.623046875% 66.943359375%, #7E60DF 0%, 25.5%, rgba(126,96,223,0) 50%), radial-gradient(circle at 14.4189453125% 33.421223958333336%, #D2E4C7 0%, 34.25%, rgba(210,228,199,0) 50%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
  --bg-overlay-color: transparent;
  font-size: 20px;
}
#md-i-first-sectio{
height: 250px;
width: 100%;
}

#md-i-2nd-section{
  height: 300px;
  width: 100%;
}
#md-i-3rd-section{
  height: 300px;
  width: 100%;
}


/*Login and Registration Page*/
#login-container{
  width: 80%;
  margin: auto;
  position: relative;
  top: 90px;
  padding: 1%;
}

/* .validation-summary-errors{
  
} */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}