@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

html, body{
  height: 100%;
}
.container-fluid{
  padding: 0;
/*   background-image: linear-gradient(90deg, #A2A3E9, #F3F8F0) ;
 */}

main {
  min-height: 100%;
  width: 100%;
  padding-bottom: 100px;
  font-family: 'Lato', sans-serif;
}
footer{
    float: left;
    margin-top: -100px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 40px;
}
h1{
  font-size: 72px;
}
h2{
  font-weight: 300;
  }
  a:link {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  a:active {
    text-decoration: none;
    color: inherit;
  }

/*HOME*/
#landing-section{
  width: 100%;
  height: 700px;
}
#h-second-section{
  width: 100%;
  height: 700px;
}
/* Journal Entry Views */
/*#je-page{
  height: 100vh;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 73.6083984375%);
}*/
#je-i-first-section{
  height: 125px;
  width: 100%;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 100%);
  color: #ffffff;
}
#je-btn-section{
  height: 65px;
  padding: 1%;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 100%);
}
#je-new-entry-btn{
  width: 200px;
  border: 1px solid #ffffff;
  border-radius: 300px;
}
#je-i-table-section{
  height: 500px;
  padding: 1%;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 60%);
}
#je-th{
  background-color: #D2E4C7; 
  /*background-color: #92B079;*/
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}
#je-tbody{
  background-color: #F6F6F6;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}
.je-ced-views{
  height: 100%;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 73.6083984375%);
}
#je-create-section{
  width: 100%;
  height: auto;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 100%);
}
#je-create-form{
  width: 80%;
  margin: auto;
  padding: 2%;
  border: 1px solid #ffffff;
}
#je-label{
  font-weight: 100;
  font-size: 18px;
  color: #000000;
}
#je-input{
  font-weight: 100;
  font-size: 18px;
  background-image: linear-gradient(90deg, #92B079 0%, #F3F8F0 60%);
  border: 1px solid #ffffff;
  border-radius: 5px;
}
#je-create-btn{
  width: 200px;
  border: 1px solid #ffffff;
  font-weight: 300;
}

/* Notes Views */
#notes-page{
  min-height: 100vh;
  background-image: linear-gradient(90deg, #95B9FF 0%, #F3F8F0 100%);
}
/*#n-create-btn{

}*/
#myTab{
  background-color: #95B9FF;
  font-weight: 300;
  font-size: 20px;
}
#myTabContent{
  background-color: #95B9FF;
}
#n-th{
  background-color: #DCE8FF;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
#n-tbody{
  background-color: #F6F6F6;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}

/*Login and Registration Page*/

#login-container{
  width: 80%;
  margin: auto;
  position: relative;
  top: 90px;
  padding: 1%;
}



@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}