@model JournalEntry;
<section class="breadcrumb-section">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Journalentry" asp-action="Index">Journal Entries</a></li>
                <li class="breadcrumb-item active" aria-current="page">Write</li>
            </ol>
        </nav>
</section>
<section class="je-ced-section">
    @* <div class="je-ced-views p-2"> *@
    <div class="je-forms">
        <form method="POST" asp-action="Create">
            <div asp-validation-summary="All"></div>
            <div class="row align-items-center">
                <label asp-for="Title" class="form-label py-1" id="je-label">Title</label>
                <input asp-for="Title" class="form-control py-1" id="je-input" placeholder="Add a title"
                    style="min-height: 50px;" />
            </div>
            <div class="row align-items-center">
                <label asp-for="JournalContent" class="form-label py-1" id="je-label">Journal Entry</label>
                <input asp-for="JournalContent" class="form-control py-1" id="je-input"
                    placeholder="Write about your thoughts, feelings, ideas..." style="min-height: 300px;" />
            </div>
            <div class="row">
                <button type="submit" class="btn form-control" id="je-create-btn">Add</button>
            </div>
        </form>
    </div>
</section>