@model JournalEntry;
<div id="je-page">
    <div class="px-2 py-2" id="je-create-form">
        <form method="POST" asp-action="Create">
        <div asp-validation-summary="All"></div>
        
            <div class="row justify-content-start my-3">
                <div class="col-lg-6">
                    <label asp-for="Title" class="form-label py-1" id="create-label">Title</label>
                    <input asp-for="Title" class="form-control py-1" id="create-input" placeholder="Add a title" />
                </div>
            </div>
            <div class="row justify-content-start my-3">
                <div class="col-lg-6">
                    <label asp-for="JournalContent" class="form-label py-1" id="create-label">Journal Entry</label>
                    <input asp-for="JournalContent" class="form-control py-1" id="create-input" placeholder="Write about your thoughts, feelings, ideas..." style="min-height: 150px;"/>
                </div>
            </div>
            <div class="row pt-2">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn form-control" id="je-create-btn">Add</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="JournalEntry" asp-action="Index" class="btn form-control">
                    Back to main
                </a>
            </div>
        </div>
    </form>
    </div>
</div>
