@model JournalEntry
<div id="je-page">
    <div class="je-ced-views p-2">
        <div class="text-justify ms-5 mt-2 p-2">
                <h2>Delete Entry</h1>
            </div>
        <form method="post" asp-route-id="@Model.JournalEntryID action="PostDelete">
            <input type="hidden" asp-for="JournalEntryID" />
            <div asp-validation-summary="All"></div>
            <div class="row justify-content ms-5">
                <div class="col-lg-7">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" id="je-input"/>
                </div>
            </div>
            <div class="row justify-content ms-5 mt-5">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn form-control">Delete</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="JournalEntry" asp-action="Index"
                        class="btn form-control">
                        Back to main
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>