@model JournalEntry
<div class="je-ced-views">
    <section class="d-inline-flex align-items-center">
        <div class="ms-3 je-ed-title">
            <h2>Delete Entry</h1>
        </div>
    </section>
    <section class="je-ced-section">
        <div class="je-forms">
            <form method="post" asp-route-id="@Model.JournalEntryID action="PostDelete">
            <input type="hidden" asp-for="JournalEntryID" />
            <div asp-validation-summary="All"></div>
            <div class="row align-items-center">
                    <label asp-for="Title" class="form-label py-1">Title</label>
                    <input asp-for="Title" class="form-control" id="je-input" />
            </div>
            <div class="row align-items-center">
                <div class="text-center my-3">
                    <button type="submit" class="btn form-control">Delete</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="JournalEntry" asp-action="Index" class="btn form-control">
                        Back to main
                    </a>
                </div>
            </div>
        </form>
        </div>
    </section>
</div>
