<div id="mood-page">
    <div class="row">
        <div class="col-lg-6">
            <ejs-accumulationchart id="doughnut" title="Low and High">
                <e-accumulationchart-legendsettings visible="true">
                </e-accumulationchart-legendsettings>
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="ViewBag.doughnutDataSource" xName="MoodCategory"
                        yName="Percentage" name="Browser" innerRadius="40%" palettes="[]">
                    </e-accumulation-series>
                </e-accumulation-series-collection>
            </ejs-accumulationchart>
        </div>

    </div>
    <div class="row">
        <ejs-chart id="graph" title="Mood Graph" width="80%">
            <e-chart-primaryxaxis valueType="Category">
            </e-chart-primaryxaxis>
            <e-series-collection>
                <e-series dataSource="ViewBag.dataSource" xName="Date" yName="MoodRating"
                    type="Line"></e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
</div>