<div id="mood-page">
    <div class="row">\
        <div class="col">
            <ejs-chart id="container" title="Dashboard" width="90%">
                <e-chart-primaryxaxis valueType="Category">
                </e-chart-primaryxaxis>
                <e-series-collection>
                    <e-series dataSource="ViewBag.dataSource" xName="day" yName="moodRating" width="3"
                        type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line"></e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
</div>