<div class="p-3 mood-page">
    <section id="dashboard-info">
        <h1></h1>
        <p></p>
    </section>
    <section class="mb-3">
        <div class="row">
            <div class="col-lg-5">
                <div id="doughnut-chart-container">
                    <ejs-accumulationchart id="doughnut" title="Mood differences in the past 30 days">
                    <e-accumulationchart-legendsettings visible=true></e-accumulationchart-legendsettings>
                    <e-accumulation-series-collection>
                        <e-accumulation-series dataSource="ViewBag.doughnutDataSource" xName="MoodCategory"
                            yName="Percentage" innerRadius="40%" palettes=@(new string[]{"#1a6aff","#7e60df"})>
                            <e-accumulationseries-datalabel name="formattedAmount"
                                visible></e-accumulationseries-datalabel>
                        </e-accumulation-series>
                    </e-accumulation-series-collection>
                    <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                        <e-legendsettings-textstyle size="1rem"></e-legendsettings-textstyle>
                    </e-accumulationchart-legendsettings>
                    <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
                </ejs-accumulationchart>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-5">
            </div>
        </div>
    </section>
    <section class="my-2">
        <div class="row px-3">
            <div id="line-chart-container">
                <ejs-chart id="graph" title="Mood ratings in the last 30 days." width="80%">
                <e-chart-primaryxaxis valueType="Category">
                </e-chart-primaryxaxis>
                <e-series-collection>
                    <e-series dataSource="ViewBag.dataSource" xName="Date" yName="MoodRating" type="Line">
                        <e-series-marker visible=true>
                            <e-series-datalabel visible=true></e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
            </div>
        </div>
    </section>
</div>
