<div id="dashboard-page">
    <section class="mr-section">
        <div class="row">
            <ejs-chart id="graph" title="Mood Graph" width="90%">
                <e-chart-primaryxaxis valueType="Category">
                </e-chart-primaryxaxis>
                <e-series-collection>
                    <e-series dataSource="ViewBag.dataSource" xName="Date" yName="MoodRating" type="Line">
                        <e-series-marker visible=true>
                            <e-series-datalabel visible=true></e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </section>
    <section class="mr-section">
        <div class="row">
            <div class="col-lg-6">
                <ejs-accumulationchart id="doughnut" title="Low and High">
                    <e-accumulationchart-legendsettings visible=true></e-accumulationchart-legendsettings>
                    <e-accumulation-series-collection>
                        <e-accumulation-series dataSource="ViewBag.doughnutDataSource" xName="MoodCategory"
                            yName="Percentage" innerRadius="40%" palettes="[]">
                            <e-accumulationseries-datalabel name="formattedAmount"
                                visible></e-accumulationseries-datalabel>
                        </e-accumulation-series>
                    </e-accumulation-series-collection>
                    <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                        <e-legendsettings-textstyle color="" size="1rem"></e-legendsettings-textstyle>
                    </e-accumulationchart-legendsettings>
                    <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
                </ejs-accumulationchart>
            </div>

        </div>
    </section>
</div>
