@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model MoodRating
<div id="mood-page">
    @if(TempData["message"] != null){
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.info('@TempData["message"]');
	</script>
    }
    @* <button type="button" class="btn btn-primary d-none" id="showToastBtn">
        Show Toast
    </button>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
            <strong class="mr-auto">Reminder</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
        </div>
    </div> *@
    <div class="row">
        <div class="col">
            <p>On a scale of 1 to 10, with 1 being not great and 10 being fantastic, rate your mood:</p>

            @* Add emoji or slider rating here. But normal input for now...*@

            <form method="POST" asp-action="Create">
                <div class="col-lg-3">
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Add</button>
                </div>
            </form>

            <p>Select words that resonate with your current emotions</p>

            @* Add selection tags here*@

            <p>Your emotions are unique, just like you. Take a moment to reflect.</p>
            <p>Feel the need to express more? Turn your emotions into words. Start journaling now and embrace the
                therapeutic power of self-reflection.</p>
        </div>
    </div>
</div>
<script>

  $(document).ready(function () {
    var reminderMessage = '@MentalNote.Services.ReminderService.ReminderMessage'; // Need to put actual condition check here
    if (reminderMessage) {
      $('.toast-body').text(reminderMessage);
      $('.toast').toast('show');
    }
  });
</script>