@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model MoodRating
<div id="mood-page">
    <section class="d-inline-flex align-items-center">
        <div>
            <p>On a scale of 1 to 10, with 1 being not great and 10 being fantastic, rate your mood:</p>

            @* Add emoji or slider rating here. But normal input for now...*@

            <form method="POST" asp-action="Create">
                <div class="col-lg-3">
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Add</button>
                </div>
            </form>
        </div>
    </section>
    <section>
        <p>Select words that resonate with your current emotions</p>

        @* Add selection tags here*@
    </section>

    <section>
        <p>Your emotions are unique, just like you. Take a moment to reflect.</p>
        <p>Feel the need to express more? Turn your emotions into words. Start journaling now and embrace the
            therapeutic power of self-reflection.</p>
    </section>
</div>